<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.today">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/spla"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.Sponsors"></activity>
        <activity
            android:name=".activities.Login"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".activities.CampusNews" />
        <activity android:name=".MyEvents.DisplayMyEvent" />
        <activity android:name=".MyEvents.DisplayMyEventsCollections" />
        <activity android:name=".Events.DisplayEvent" />
        <activity android:name=".Events.EventsManagement" />
        <activity android:name=".Events.CreateEvent" />
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Shelves">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Register"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NewsDetails" />
        <activity android:name=".Events.DisplayEventTypes"
            android:label="@string/title_My_events"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--
 <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/common_google_play_services_install_button" />
        -->
        <activity android:name=".activities.AboutUs" />
        <activity android:name=".Events.EditActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>